@import url(vars.css);
@import url(cta.css);

html,body {
  margin:0;
  padding:0;
}

header#top {
  nav {
    background-color: var(--background-header-color);
    display: flex;
    justify-content: space-between;
    color: var(--font-color-cta);
   
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0;
      padding: 0;
 
      li {
        margin: 0;
        transition: background-color 0.4s, color 1s;
        position: relative;
 
        &:hover {
          background-color: white;
          color: var(--background-header-color);
 
          a {
            color: var(--primary-color);
          }
        }
 
        a {
          display: block;
          text-decoration: none;
          font-family: "Outfit", system-ui;
          padding: 0.6rem 1.5rem;
          font-size: 2rem;
          color: var(--font-color-cta);
        }
 
        &:hover ul.submenu {
          display: flex;
        }
 
 
        ul.submenu {
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 2;
          background-color: var(--background-header-color);
          text-align: left;
          a {
            color: var(--font-color-cta);
          }
 
          li:hover a {
            color: var(--background-header-color);
          }
        }
      }
    }

    ul.mobile-open-menu{
      display: none;
    }
  }
}

@media screen and (max-width:800px){
  header#top nav ul.mobile-open-menu{
    display: flex;
  }

  header#top nav ul:not(.mobile-open-menu){
    display:none;
  }
}


